In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("food.csv")

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [15]:
df.corr(method ='pearson')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [17]:
df.groupby(by='Element Code').sum()

,Area Code,Item Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,
511,6020,112545,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
645,658446,13185401,49650.63,49345.13,48985.28,48690.04,49056.85
664,674057,13511060,454257.00,453383.00,451810.00,454681.00,455261.00
674,675050,13535000,11836.46,11833.95,11779.69,11842.45,11833.56
684,675050,13535000,10225.56,10235.74,10102.77,10253.84,10258.69
5072,571566,11329527,58749.83,34910.99,33140.12,54316.91,20577.91
5123,274353,5424803,153223.00,155439.00,157787.00,160614.00,163902.00
5131,271940,5350416,282923.00,287929.00,280631.00,292836.00,308429.00
5142,663295,13285035,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
5154,235554,4729749,78718.13,66254.41,69563.68,91645.97,91300.97
5170,623271,12421089,30149.00,30045.00,37224.00,35500.00,34864.00
5171,50308,1486528,416.00,349.00,89.00,91.00,90.00
5301,708993,14197445,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
5511,526751,10450053,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
5521,176272,3538507,216927.89,225050.22,228958.65,223705.68,233489.68
5527,103537,2035933,21922.92,23976.82,23389.20,24870.14,25263.14
5611,688174,13795966,274144.48,267018.46,286582.78,294559.09,287997.09
5911,599910,11840553,150020.64,157614.47,151920.46,182338.80,181594.80

In [23]:
df['Area'].describe

<bound method NDFrame.describe of 0         Algeria
1         Algeria
2         Algeria
3         Algeria
4         Algeria
           ...
60938    Zimbabwe
60939    Zimbabwe
60940    Zimbabwe
60941    Zimbabwe
60942    Zimbabwe
Name: Area, Length: 60943, dtype: object>

In [5]:
df['Y2014'].sum()

7965086.130000001

In [6]:
df['Y2017'].sum()

8375729.189999999

In [7]:
df['Y2015'].std()

1603.4039839423301

In [8]:
df['Y2015'].mean()

135.23596649549236

In [14]:
df['Y2016'].isnull().sum()

1535